<h3>Product</h3>


<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
   
  <div class="form-group">
      <label class="center-block">
        <input class="form-control"  placeholder="Product Name" name="ProductName" ngModel required>
      </label>
  </div>
  <div class="form-group">
    <select class="form-control" name="CategoryId" ngModel required>
    <option *ngFor="let category of categories" [ngValue]="category.CategoryId">{{category.CategoryName}}</option>
   </select>
  </div>
  
  <div class="form-group">
      <label class="center-block">
        <input type="number" class="form-control" placeholder="Stock Size" name="StockSize" ngModel required>
      </label>
  </div>
  <div class="form-group">
      <label class="center-block">
        <textarea class="form-control" placeholder="Product Description" name="ProductDescription" ngModel required></textarea>
      </label>
  </div> 
  <div class="form-group">
      <label class="center-block">
        <textarea class="form-control" placeholder="Seller Description" name="SellerName" ngModel required></textarea>
      </label>
  </div> 
  <div>
      <button type="submit" [disabled]="!f.valid" class="btn btn-success">{{editMode ? 'Update':'Add'}}</button>
  </div>
</form>
